{% load frontend cms_component sekizai_tags cms_theme_tags i18n %}

{# Declare component - template tags are evaluated at project startup and will render empty #}
{% cms_component "Container1ColText" name=_("Narrow Content") module=_("Sections") show_add_form=False %}
<section class="container py-6">
    <div class="row">
        <div class="ms-auto col col-12 me-auto col-lg-8">
            {% childplugins instance %}
                <p>{% translate "Add content here" %}</p>
            {% endchildplugins %}
        </div>
    </div>
</section>
