{% load cms_tags cms_theme_tags %}
<div class="{{ instance.get_classes }}"{{ instance.get_attributes }}>
    <div class="container">
        {% if instance.config.eyebrow_text or instance.config.heading %}
            <div class="row mb-4 justify-content-center justify-content-lg-start">
                <div class="col-12 col-md-10 col-lg-12 text-lg-start">
                    {% if instance.config.eyebrow_text %}
                        <h6 class="text-uppercase text-muted overline{% if instance.config.text_color %} text-{{ instance.config.text_color }}{% endif %}">{{ instance.config.eyebrow_text }}</h6>
                    {% endif %}
                    {% if instance.config.heading %}
                        <h2 class="pb-5 mt-3{% if instance.config.text_color %} text-{{ instance.config.text_color }}{% endif %}">{{ instance.config.heading }}</h2>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% for plugin in instance.child_plugin_instances %}
                <div class="col-lg-3 col-12 mb-lg-0 col col-md-6 mb-3">
                    {% render_plugin plugin %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
