{% extends "djangocms_stories/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags menu_tags djangocms_alias_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post_content.title }}{% endblock %}

{% block content_blog %}
<article id="post-{{ post_content.slug }}" class="post-item post-detail">
    <header>
        {% include "blog/includes/hero_detail.html" %}
    </header>
    <div class="container py-3 mt-3">
        {% show_breadcrumb 0 "menu/breadcrumb.html" %}
    </div>
    <main>
        <div class="container">
            <div class="post-detail-grid pb-6">
                <div class="post-detail-main">
                    {% placeholder "Left Column" %}
                </div>
                <div class="post-detail-sidebar-top pb-lg-6 pb-xl-0">
                    {% include "blog/includes/author_card.html" %}
                </div>
                <div class="post-detail-sidebar-bottom">
                    {% placeholder "Client Card" %}
                </div>
            </div>
        {% static_alias "Post detail" %}
    </main>
</article>
{% endblock content_blog %}