{% extends "djangocms_stories/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags menu_tags%}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post_content.title }}{% endblock %}

{% block content_blog %}
<article id="post-{{ post_content.slug }}" class="post-item post-detail">
    <header>
        {% placeholder "Hero" %}
    </header>
    <div class="container py-3 mt-3">
        {% show_breadcrumb 0 "menu/breadcrumb.html" %}
    </div>
    <main>
        <div class="container">
            <div class="row">

                {# MOBILE: oben #}
                <div class="col-12 d-md-none mb-3">
                {% placeholder "Right Top Mobile" %}
                </div>

                <div class="col-12 col-md-8">
                {% placeholder "Left Column" %}
                </div>

                <aside class="col-12 col-md-4">
                    <div class="d-flex flex-column gap-3">
                        {% placeholder "Right Top" %}

                        {# DESKTOP: unter Kontakt #}
                        <div class="d-none d-md-block">
                            {% placeholder "Right Bottom Desktop" %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        {% placeholder "Bottom Content" %}
    </main>
</article>
{% endblock content_blog %}