{% load static cms_tags sekizai_tags cms_theme_tags %}
<div class="container {{ instance.get_classes }}"
     {{ instance.get_attributes }}>
    <div class="row mb-4 justify-content-center justify-content-lg-start">
        <div class="col-12 col-md-10 col-lg-12 ps-lg-0 text-lg-start">
            {% if instance.eyebrow_text %}
                <h6 class="text-uppercase text-muted overline">{{ instance.eyebrow_text }}</h6>
            {% endif %}
            {% with heading_texts=instance.child_plugin_instances|filter_by_type:"HeadingPlugin" %}
                {% if heading_texts and heading_texts|length > 0 %}
                    {% for heading_text in heading_texts %}
                        {% render_plugin heading_text %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row g-5 justify-content-center justify-content-lg-start">
        {% with plan_cards=instance.child_plugin_instances|filter_by_type:"PlanCardPlugin" %}
            {% if plan_cards and plan_cards|length > 0 %}
                {% for plan_card in plan_cards %}
                    {% render_plugin plan_card %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="row g-5 mt-2 justify-content-center justify-content-lg-start">
        {% with horizontal_plan_cards=instance.child_plugin_instances|filter_by_type:"HorizontalPlanCardPlugin" %}
            {% if horizontal_plan_cards %}
                <div class="col-11 col-lg-12 ps-lg-0">
                    {% for horizontal_plan_card in horizontal_plan_cards %}
                        {% render_plugin horizontal_plan_card %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
