{% load static cms_tags sekizai_tags cms_theme_tags frontend %}
<div {{ instance.get_attributes }}>
    <div class="container">
        <div class="row mb-4 justify-content-center justify-content-lg-start">
            <div class="col-12 col-md-10 col-lg-12 text-lg-start">
                {% if instance.eyebrow_text %}
                    <h6 class="text-uppercase text-muted overline{% if instance.text_color %} text-{{ instance.text_color }}{% endif %}">{% inline_field instance "eyebrow_text" %}</h6>
                {% endif %}
                {% if instance.heading %}
                    <h2{% if instance.text_color %} class="text-{{ instance.text_color }}"{% endif %}>{% inline_field instance "heading" %}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% with plan_cards=instance.child_plugin_instances|filter_by_type:"PlanCardPlugin" %}
                {% if plan_cards and plan_cards|length > 0 %}
                    {% for plan_card in plan_cards %}
                        {% render_plugin plan_card %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="row mt-2 justify-content-center justify-content-lg-start">
            {% with horizontal_plan_cards=instance.child_plugin_instances|filter_by_type:"HorizontalPlanCardPlugin" %}
                {% if horizontal_plan_cards %}
                    <div class="col-11 col-lg-12 plan-card-width">
                        {% for horizontal_plan_card in horizontal_plan_cards %}
                            {% render_plugin horizontal_plan_card %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
