{% load static frontend cms_tags cms_theme_tags thumbnail %}
<div class="{{ instance.get_classes }} card related-people-card p-4 shadow-lg"
     {{ instance.get_attributes }}>
        {% if instance.image_accent %}
            <div class="profile-wrapper mb-4">
                <div class="position-absolute {% if instance.image_accent_color %}bg-{{ instance.image_accent_color }}{% endif %} shape-tl z-0">
                </div>
                <div class="position-absolute {% if instance.image_accent_color %}bg-{{ instance.image_accent_color }}{% endif %} shape-br z-0">
                </div>
                <img src="{{ instance.image.url }}" alt="{{ instance.name }}" class="img-fluid shadow-sm rounded">
            </div>
        {% else %}
            <img src="{{ instance.image.url }}" alt="{{ instance.name }}" class="img-fluid rounded">
        {% endif %}
        <div class="card-body p-0 mt-4 text-{{ instance.text_color }}">
            <div class="pt-1">
                <div class="text-uppercase mb-1 overline pb-2">{% inline_field instance "overline" %}</div>
                <h4>{% inline_field instance "name" %}</h4>
                {% if instance.role %}
                    <p class="mb-0">{% inline_field instance "role" %}</p>
                {% endif %}
                {% if instance.description %}{% inline_field instance "description" "" "safe" %}{% endif %}
                {% with buttons=instance.child_plugin_instances %}
                    {% if buttons and buttons|length > 0 %}
                        <div class="d-flex gap-2 button-group pt-1 mt-4">
                            {% for button in buttons %}
                                {% render_plugin button %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
</div>
