{% load static cms_tags frontend cms_theme_tags %}
<section class="{{ instance.get_classes }} mobile-slider" {{ instance.get_attributes }}>
    <div class="container">
        <div>
            {% if instance.eyebrow_text %}
                <h6 class="overline mb-0 {% if instance.text_color %}text-{{ instance.text_color }}{% endif %}">
                    {{ instance.eyebrow_text }}
                </h6>
            {% endif %}
            {% if instance.heading %}
                <h2{% if instance.text_color %} class="text-{{ instance.text_color }}"{% endif %}>{{ instance.heading }}</h2>
            {% endif %}
        </div>
        <div class="grid-{{ instance.grid_columns }}">
            {% with person_cards=instance.child_plugin_instances|filter_by_type:"PeopleCardPlugin" %}
                {% if person_cards %}
                    {% for plugin in person_cards %}
                        {% render_plugin plugin %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</section>
