{% load static cms_tags sekizai_tags frontend cms_theme_tags %}
<div class="card rounded-2 p-4 bg-dark text-white">
    <div class="row align-items-center g-4">
        {% with images=instance.child_plugin_instances|filter_by_type:"ImagePlugin" %}
            {% if images and images|length > 0 %}
                <div class="col-auto">{% render_plugin images.0 %}</div>
            {% endif %}
        {% endwith %}
        <div class="col">
            <div class="row g-2">
                <div class="col-md-3 {% if instance.text_color %}text-{{ instance.text_color }}{% endif %}">
                    {% if instance.card_heading %}<h3 class="h3 mb-1">{{ instance.card_heading }}</h3>{% endif %}
                    {% if instance.card_sub_heading %}
                        <div class="card-subtitle-custom {% if instance.text_color %}text-{{ instance.text_color }}{% endif %}">
                            {{ instance.card_sub_heading }}
                        </div>
                    {% endif %}
                    {% with texts=instance.child_plugin_instances|filter_by_type:"TextPlugin" %}
                        {% if texts and texts|length > 0 %}
                            {% render_plugin texts.0 %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-5">
                    {% with feature_items=instance.child_plugin_instances|filter_by_type:"FeatureItemPlugin" %}
                        {% if feature_items and feature_items|length > 0 %}
                            {% for feature_item in feature_items %}
                                {% render_plugin feature_item %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-4 ps-3 {% if instance.text_color %}text-{{ instance.text_color }}{% endif %}">
                    {% with plugins=instance.child_plugin_instances|filter_by_type:"TextPlugin,TextLinkPlugin,SpacingPlugin" %}
                        {% if plugins and plugins|length > 1 %}
                            {% for plugin in plugins|slice:"1:" %}
                                {% render_plugin plugin %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
