{% load static cms_tags sekizai_tags cms_theme_tags %}
<div class="col-12 col-md-6 col-xl-3 accent-wrapper mb-7 d-flex justify-content-end">
    <div class="accent-box {{ instance.tier_color }}"></div>
    <div class="card plan-card p-4 shadow-sm h-100 d-flex flex-column">
        {% if instance.card_heading %}<h3 class="mb-1">{{ instance.card_heading }}</h3>{% endif %}
        {% if instance.card_sub_heading %}<div class="overline pb-4 mb-1 pt-1">{{ instance.card_sub_heading }}</div>{% endif %}
        {% with card_content_plugins=instance.child_plugin_instances|filter_by_type:"TextPlugin,SpacingPlugin,FeatureItemPlugin" %}
            {% if card_content_plugins %}
                {% for card_content_plugin in card_content_plugins %}
                    {% render_plugin card_content_plugin %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="mt-auto">
            {% with buttons=instance.child_plugin_instances|filter_by_type:"TextLinkPlugin" %}
                {% if buttons %}
                    {% for btn in buttons %}
                        {% render_plugin btn %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
