{% load static cms_tags sekizai_tags frontend %}

<section class="features-section {% if instance.config.background_grid %} background-grid{% endif %} {{ instance.get_classes }}"{{ instance.get_attributes }}>
    <div class="container">
        {% if instance.config.overline or instance.config.heading %}
            <div class="row mb-4 justify-content-center justify-content-lg-start text-{{ instance.config.accordion_header_color|default:'default' }}">
                <div class="col-12 col-md-10 col-lg-12 text-lg-start">
                    {% if instance.config.overline %}
                        <h6 class="text-uppercase overline">{{ instance.config.overline }}</h6>
                    {% endif %}
                    {% if instance.config.heading %}
                        <h2{% if instance.config.text_color %} class="text-{{ instance.config.text_color }}"{% endif %}>{{ instance.config.heading }}</h2>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row gx-lg-6">
            {# Left column: Text content and accordion #}
            <div class="col-lg-6 {% if instance.config.mirror_layout %}order-lg-2{% endif %} features-content-left">
                {# Custom accordion rendering without images #}
                <div class="features-accordion mt-4 accordion-header-{{ instance.config.accordion_header_color|default:'default' }}">
                    {% set_html_id instance as html_id %}
                    <div class="accordion" id="accordion-{{ html_id }}">
                        {% childplugins instance "items" %}{% endchildplugins %}
                    </div>
                </div>
            </div>

            {# Right column: Accordion images #}
            <div class="col-lg-6 {% if instance.config.mirror_layout %}order-lg-1{% endif %} features-content-right">
                <div class="features-images position-relative">
                    {# Render accordion items' images on the right side #}
                    {% for accordion_item in instance|get_slot:"items" %}
                        <div class="features-image{% if forloop.first %} active{% endif %}">
                            {% plugin "image" picture=accordion_item.image template=accordion_item.image_template %}{% endplugin %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {% for link in instance|get_slot:"links" %}
               {% render_plugin link %}<span class="ms-3"></span>
            {% endfor %}
        </div>
    </div>
</section>
