{% load djangocms_stories i18n easy_thumbnails_tags cms_tags static %}

<article id="post-{{ post_content.slug }}" class="post-item h-100">
    <a href="{% absolute_url post_content %}" class="card bg-white shadow-sm h-100 text-decoration-none text-reset card-author-link">
        <div class="card-body d-flex flex-column">
            <p class="overline pb-2 mb-1">{{ post_content.post.categories.first }}</p>
            <h4 class="text-secondary">
                {{ post_content.title }}
            </h4>
            {% if post_content.subtitle %}
                <small>{{ post_content.subtitle }}</small>
            {% endif %}
            <div class="card-text pt-3 pb-2">
                {% render_model post_content "abstract" "" "" "truncatewords_html:20|safe"  %}
            </div>
            <div class="d-flex flex-row gap-4 mt-auto pt-4">
                <div>
                    <img src="{% static 'image/test.png' %}" alt="" height="101" />
                </div>
                <div>
                    <h4>{{ post_content.author.get_full_name }}</h4>
                    <p class="pb-1 mb-2">Software-Entwickler an der Universität Innsbruck</p>
                </div>
            </div>
        </div>
    </a>
</article>
