{% load i18n djangocms_stories blog_tags %}

{% get_blog_categories as categories %}

<div class="blog-sidebar mb-4 pb-2">
    <div class="d-flex flex-row flex-md-column flex-wrap gap-3 me-auto ps-2 ms-1 w-100">
        <h4 class="text-secondary">Filter by:</h4>
        <a href="{% namespace_url 'posts-latest' %}"
           class="btn btn-outline-black {% if category.pk == cat.pk %}active{% endif %}">
            {% trans "All" %}
        </a>
        {% for cat in categories %}
            <a href="{% namespace_url 'posts-category' cat.slug %}"
               class="btn btn-outline-black {% if category.pk == cat.pk %}active{% endif %}">
                {{ cat.name }}
            </a>
        {% endfor %}
    </div>
</div>
