{% load cms_tags frontend %}

<article id="milestone-{{ instance.id }}">
    <div class="card shadow-sm">
        <div class="card-body">
            {% if instance.label %}
                <h2>{{ instance.label }}</h2>
            {% endif %}
            {% if instance.heading %}
                    <h3>{{ instance.heading }}</h3>
            {% endif %}
            <div class="d-flex gap-3">
                {% for plugin in instance|get_slot:"image_top"  %}
                    {% render_plugin plugin %}
                {% endfor %}
                {% if instance.text %}
                    <div>
                        {{ instance.text|safe }}
                    </div>
                {% endif %}
                {% for plugin in instance|get_slot:"image_top"  %}
                    {% render_plugin plugin %}
                {% endfor %}
                {% for plugin in instance|get_slot:"links"  %}
                    {% render_plugin plugin %}
                {% endfor %}
            </div>
        </div>
    </div>
</article>