@mixin card-base {
    position: absolute;
    width: 35%;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.community-section {
    padding-top: 10px;
    display: flex;
    align-items: center;

    .image-cluster {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 500px;

        .member-card {
            @include card-base;

            &.pos-1 { top: 0; right: 8%; z-index: 1; }
            &.pos-2 { top: 15%; left: 25%; z-index: 2; }
            &.pos-3 { bottom: 20%; right: 5%; z-index: 3; }
            &.pos-4 { bottom: 5%; left: 30%; z-index: 4; }
        }

        @media (max-width: 400px) {
            .pos-3 { bottom: 27% !important; right: 5%; z-index: 3; }
            .pos-4 { bottom: 15% !important; left: 30%; z-index: 4; }
        }
    }

    @media (max-width: 991px) {
        padding: 0 0 0 0;


        .image-cluster {
            margin-top: 4rem;
            min-height: 400px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .member-card {
            width: 30%;
        }
    }

    @media (max-width: 576px) {
        .image-cluster {
            min-height: 300px;
        }
    }

    @media (max-width: 449px) {

        .community-section {
            padding: 0;
        }

        .image-cluster {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

    }
}

.video-section {
    video {
        width: 800px;
    }

    @media (max-width: 991px) {
        video {
            width: 100%;
            padding: 0 0 0 0;
        }
    }
}
