// ==============================================
// List Style Overrides
// ==============================================

// ==========================
// BASE / LEVEL 1 – Quadrat
// ==========================
ul,
.list-bullet,
ul.list-styled {
  list-style: none;
  padding-left: 1.5rem;
  margin: 0 0 1rem 0;
}

ul > li,
.list-bullet > li,
ul.list-styled > li {
  position: relative;
  padding-left: 0.25rem;
  margin-bottom: 0.5rem;

  > p {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0.45em;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.125rem;
    background-color: $secondary;
  }
}

// ==========================
// LEVEL 2+ – Dash
// ==========================
ul ul > li,
.list-bullet ul > li,
ul.list-styled ul > li,
.list-dash > li,
ul.list-styled-dash > li {
  padding-left: 0;
}

ul ul > li::before,
.list-bullet ul > li::before,
ul.list-styled ul > li::before,
.list-dash > li::before,
ul.list-styled-dash > li::before {
  top: 0.67em;
  width: 0.625rem;
  height: 0.1875rem;
  border-radius: 0.125rem;
  background-color: $secondary;
}


/// ==========================
// BASE / Level 1 – Numbers
// ==========================
ol,
.list-numbered,
ol.list-styled {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1rem 0;
  counter-reset: list-counter;
}

ol > li,
.list-numbered > li,
ol.list-styled > li {
  position: relative;
  margin-bottom: 0.5rem;
  counter-increment: list-counter;

  padding-left: 2.25rem;

  > p { margin: 0; }

  &::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    top: 0.1em;

    width: 2rem;
    text-align: right;

    font-weight: 500;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1;
    color: $secondary;

    padding-right: 0.25rem;
  }
}

// ==========================
// Level 2 – Letters
// ==========================
ol ol {
  counter-reset: letter-counter;
  margin-top: 0.5rem;
  padding-left: 0;
}

ol ol > li {
  position: relative;
  counter-increment: letter-counter;

  padding-left: 1.75rem;
  margin-bottom: 0.5rem;

  &::before {
    content: counter(letter-counter, lower-alpha) ".";
    position: absolute;
    left: 0;
    top: 0.1em;

    width: 1.5rem;
    text-align: right;
    padding-right: 0;

    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1;
    color: $secondary;
  }
}

// ==============================================
// CMS Toolbar & Frontend List Style Reset
.cms-toolbar,
.djangocms-frontend {
  ul,
  ol {
    list-style: revert;
    padding-left: revert;
    margin: revert;
  }

  li {
    padding-left: revert;
    margin-bottom: revert;
    position: revert;
  }

  li::before {
    content: none !important;
  }
}
