.plan-card {
  border: none;
  border-radius: 1.5rem;
  position: relative;
  z-index: 2;
  min-height: 650px;
  display: flex;
  flex-direction: column;
}

.card-subtitle-custom {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: $gray-light;
  margin-bottom: 1rem;
}

.accent-wrapper {
  position: relative;
}

.accent-box {
  position: absolute;
  top: -10px;
  left: -1px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  z-index: 1;

  &.accent-platinum { background-color: $accent-platinum-color; }
  &.accent-gold { background-color: $accent-gold-color; }
  &.accent-silver { background-color: $accent-platinum-color; }
  &.accent-bronze { background-color: $accent-bronze-color; }
}

.supporter-bar {
  border-radius: 1.0rem;
  color: white;
  padding: 2.5rem;
}

.profile-img-wrapper {
  position: relative;
  display: inline-block;
  padding: 10px;

  img {
    position: relative;
    z-index: 1;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 1.2rem;
  }
}

.profile-shape {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  z-index: 0;

  &.shape-1 {
    top: 0;
    left: 0;
    background-color: $primary;
    opacity: 0.5;
  }

  &.shape-2 {
    bottom: 0;
    right: 0;
    border: 2px solid;
    background-color: $primary;
    opacity: 0.3;
  }
}